h1{
color:pink;
  font-size:45px;

  font-family: 'Lobster', cursive;
  border-style: dotted;
 }

body{
background-image:url("https://images.unsplash.com/photo-1526791543726-88ffd5bcdc0c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80")
}
#idshe enjoys swimming
b{
  color:white;
}
